<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload or Take a Photo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload or Take a Photo</h1>

        <!-- Upload Section -->
        <div class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*">
                <button type="submit">Upload</button>
            </form>
        </div>

        <!-- Video & Capture Section -->
        <div class="video-container">
            <video id="video" autoplay></video>
            <img id="captured-image" alt="Captured Image">
            <button id="capture">Capture Photo</button>
            <canvas id="canvas" width="640" height="480"></canvas>
            <button id="retake" style="display:none;">Retake Photo</button>
            <button id="submit" style="display:none;">Submit Photo</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
</body>
</html>
